@font-face {
    font-family: "Averta Standard";
    src: url("../webfonts/averta.otf");
}

html, body {
    min-height: 100%;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #000314;
    color: #559ce8;
    /* #0D49BC */
    font-family: "Averta Standard", "Segoe UI", sans-serif;
}

body div#header {
    height: 100%;
    background-color: #000314;
}

div.desktop.content div.one, div.desktop.content div.socials {
    height: 100%;
}

div.desktop.content div.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

div.desktop.content div.socials a {
    text-align: center;
    margin: .8em 1em;
    color: #559ce8;
    transition: all .3s;
}

div.desktop.content div.socials a:hover {
    color: #3B6CC9;
    transition: all .3s;
}

div.desktop.content div.ten {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.desktop.content div.ten div.image {
    margin-bottom: 4em;
}

div.desktop.content div.ten div.image img {
    width: 40em;
}

div.desktop.content div.one nav, div.desktop.content div.one nav ul {
    height: 100%;
    margin: 0;
}

div.desktop.content div.one nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
}

div.desktop.content div.one nav ul li {
    list-style: none;
}

div.desktop.content div.one nav ul a {
    text-transform: uppercase;
    text-align: center;
    font-size: .8em;
    font-weight: 900;
    color: #559ce8;
    text-decoration: none;
    margin: 3em 0;
    transition: all .3s;
    transform: rotate(90deg);
    transform-origin: right top 20;
}

div.desktop.content div.one nav ul a:hover {
    color: #3B6CC9;
    transition: all .3s;
}

div.desktop.content div.row hr {
    border: solid 1px;
    width: 3%;
    margin: 1em auto;
}

div.desktop.content span {
    font-weight: 900;
    font-size: .8em;
}

div.desktop.content div.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1em;
    width: 100%;
    font-size: .8em;
}

/* Header Mobile Content */

div.mobile.content div.one, div.mobile.content div.socials {
    width: 100%;
}

div.mobile.content div.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 2em;
}

div.mobile.content div.socials a {
    text-align: center;
    margin: 0 1em;
    color: #559ce8;
    transition: all .3s;
}

div.mobile.content div.socials a:hover {
    color: #3B6CC9;
    transition: all .3s;
}

div.mobile.content div.ten {
    width: 100%;
    height: 100%;
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.mobile.content div.ten div.image {
    margin-bottom: 3em;
}

div.mobile.content div.ten div.image img {
    width: 15em;
}

div.mobile.content div.one nav {
    display: none;
}

div.mobile.content div.row hr {
    border: solid 1px;
    width: 2em;
    margin: 1em auto;
}

div.mobile.content span {
    font-weight: 900;
    font-size: .9em;
}

div.mobile.content div.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1em;
    width: 100%;
    font-size: .9em;
}

/* About */

div.about {
    text-align: center;
}

div.desktop.about hr {
    border: solid .1em;
    width: 3%;
    margin: 2em auto;
}

div.desktop.about h1 {
    font-size: 4em;
}

div.desktop.about p {
    font-size: .9em;
    line-height: 2em;
    margin: 0 10em;
}

div.mobile.about hr {
    border: solid .1em;
    width: 20%;
    margin: 2em auto;
}

div.mobile.about h1 {
    font-size: 5em;
}

/* contact */

div.contact {
    margin-top: 8em;
    text-align: center;
}

div.desktop.contact hr {
    border: solid .1em;
    width: 3%;
    margin: 2em auto;
}

div.desktop.contact h1 {
    font-size: 4em;
}

div.contact p {
    font-size: .9em;
    line-height: 2em;
}

div.mobile.contact hr {
    border: solid .1em;
    width: 20%;
    margin: 2em auto;
}

div.mobile.contact h1 {
    font-size: 5em;
}

div.contact div.form {
    margin: 0 10em;
}

div.contact div.form input, div.contact div.form textarea {
    background: transparent;
    border: solid 1px #3B6CC9;
    border-radius: 0;
    padding: 1.5em;
    font-size: .9em;
}

div.contact div.form textarea {
    height: 15em;
}

::placeholder {
    color: #3B6CC9;
}

div.contact div.form div.btn.row {
    text-align: right;
}

div.contact div.form div.btn.row button {
    background: transparent;
    border: solid 1px #3B6CC9;
    border-radius: 0;
    color: #0D49BC;
    font-size: .6em;
}

div.contact div.informations {
    text-align: center;
    margin: 5em 10em;
}

div.contact div.informations h6 {
    margin: 2em 0 1em 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 900;
}

div.contact div.informations span {
    font-size: .9em;
}

div.contact div.informations a {
    text-decoration: none;
    font-size: .9em;
    color: #559ce8;
    transition: all .3s;
}

div.contact div.informations a:hover {
    color: #3B6CC9;
    transition: all .3s;
}

div.contact div.informations div.socials a {
    margin: 0 1em 0 0;
}

div.contact div.informations div.socials a i {
    font-size: 1.5em;
}

div.mobile.contact div.informations {
    margin: 5em 0 0 0;
}

div.mobile.contact div.form {
    margin: 5em 0;
}

/* About */

div.desktop.about div.tech div.row {
    margin: 2em 11em;
}

div.desktop.about div.tech div.group-icon {
    margin-top: 3em;
}

div.desktop.about div.tech div.group-icon i {
    font-size: 1.5em;
}

div.desktop.about div.tech div.group-icon span {
    font-size: 1.1em;
    margin-left: .4em;
}

div.desktop.about div.tech div.group-icon hr {
    margin: 1em 0 2em 0;
    width: 3em;
    border: solid 1px;
}

div.desktop.about div.tech div.tech-icons i {
    font-size: 2em;
    margin: 1em 1em 0 0;
}

/* Tech Mobile Content */

div.mobile.about div.tech div.row {
    margin: 2em 1em;
}

div.mobile.about div.tech div.group-icon {
    margin-top: 3em;
}

div.mobile.about div.tech div.group-icon i {
    font-size: 1.5em;
}

div.mobile.about div.tech div.group-icon span {
    font-size: 1.1em;
    margin-left: .4em;
}

div.mobile.about div.tech div.group-icon hr {
    margin: 1em 0 2em 0;
    width: 3em;
    border: solid 1px;
}

div.mobile.about div.tech div.tech-icons i {
    font-size: 2em;
    margin: 1em 1em 0 0;
}

div.footer {
    width: 100%;
    text-align: center;
    font-size: .7em;
    margin: 8em 0 2em 0;
}